body{
    margin:0;
}
.encabezado-redes-sociales {
    background-color:rgb(50, 148, 165);
    height: 90 px;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav {

    height: 90px;
    background-color: rgb(85, 178, 201);
    display: flex; justify-content: space-around;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;



}

.encabezado-redes-sociales i{
 color: rgb(255, 255, 255);
}

.encabezado-redes-sociales a{
margin-right: 15px;
}

nav .nav-imagen-logo img{
    height: 90px;
}

nav .nav-menu ul{

    display: flex;
    list-style-type: none;
}

nav .nav-menu-ul li{

    margin-right: 20px;
}

nav .nav-menu-ul a{
    text-decoration: none;
}

main{
    /*border: 5px solid red;*/
    height: 88vh;
    background-image: url("../robot.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;/*centrar verticalmente*/
    justify-content: center;/* centrar verticalmente*/
}

.main-section{
    color: white;
    text-align: center;
}

.main-section h1{
    font-size: 120px;
    margin-bottom: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.main-section p{
    font-size: 20px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-section button{
    background-color: #10505c;
    width: 200px;
    height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.footer{
    height: 60px;
    